.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
  width: 801px;
  height: 801px;
  background-color: rgb(182, 237, 146);
}

.chessboard .tile {
  width: 100px;
  height: 100px;
}

.chessboard .black-tile {
  background-color: #000000b4;
}

.chessboard .white-tile {
  background-color: #d7d7a3;
}

.modal.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.modal > .modal-body {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 400px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 300px;
  width: 800px;
  background-color: rgba(127, 127, 127, 0.8);
}
.modal > .modal-body > img {
  height: 100px;
  padding: 20px;
  border-radius: 50%;
}

.modal > .modal-body > img:hover {
  background-color: rgba(225, 225, 225, 0.3);
  cursor: pointer;
}

h1 {
  color: wheat;
  padding: 20px;
}

.modal > .modal-body > .checkmate-body {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.modal > .modal-body > .checkmate-body > span {
  font-size: 32px;
}

.modal > .modal-body > .checkmate-body > button {
  background-color: #779556;
  color: white;
  padding: 24px 48px;
  font-size: 32px;
  border: none;
  border-radius: 9px;
}

.modal > .modal-body > .checkmate-body > button:hover {
  cursor: pointer;
}
